@{
    ViewData["Title"] = "Peliculas";
    Layout = "_Layout";
}
<button class="btn btn-primary" onclick="nuevaPelicula()">Nueva pelicula</button>
<br>
<div class="row">
    <div class="col-md-12">
        <table class="table" id="grid_peliculas">
            <thead class="thead-default">
                <tr>
                    <th>Título</th>
                    <th>Sinopsis</th>
                    <th>Año Estreno</th>
                    <th>Director</th>
                    <th>Género</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var columns = [{
            "data": "titulo",
            "name": "titulo",
            "searchable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "sinopsis",
            "name": "sinopsis",
            "searchable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "anioEstreno",
            "name": "anioEstreno",
            "searchable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "director",
            "name": "director",
            "searchable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "genero",
            "name": "genero",
            "searchable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        },{
            data: function (row, type, set) {
                var s = '';
               s +=   
                    `<button 
                        type='button' 
                        class='btn btn-sm btn-secondary' 
                        onclick='editarPelicula(${row.id})'
                        title='Editar'
                        style='margin-left:2px;background-color:green;'>
                            <svg class="c-icon glyphicon" style='width:12px;height:12px;margin-top:-3px;'>
                                <use xlink: 
                                    href="${urlContent}img/icons/svg/free.svg#cil-pencil">
                                </use>
                            </svg>
                    </button>`;
                
                s +=   
                    `<button 
                        type='button' 
                        class='btn btn-sm btn-secondary' 
                        onclick='verPelicula(${row.id})'
                        title='Ver'
                        style='margin-left:2px;background-color:green;'>
                            <svg class="c-icon glyphicon" style='width:12px;height:12px;margin-top:-3px;'>
                                <use xlink: 
                                    href="${urlContent}img/icons/svg/free.svg#cil-zoom-in">
                                </use>
                            </svg>
                    </button>`;
                
                s +=   
                    `<button 
                        type='button' 
                        class='btn btn-sm btn-secondary' 
                        onclick='eliminarPelicula(${row.id}, "${row.titulo}")'
                        title='Eliminar'
                        style='margin-left:2px;background-color:red;'>
                            <svg class="c-icon glyphicon" style='width:12px;height:12px;margin-top:-3px;'>
                                <use xlink: 
                                    href="${urlContent}img/icons/svg/free.svg#cil-trash">
                                </use>
                            </svg>
                    </button>`;

                return s;
            },
            "searchable": false,
            "orderable": false,
            "visible": true,
            defaultContent: ""
        }];
        
        createGrid(
            'grid_peliculas', 
            'Pelicula/Listar', 
            'peliculas', 
            columns, 
            null, 
            true);
    });

    function nuevaPelicula()
    {
        window.location = urlContent + "Pelicula/Nuevo";
    }

    function editarPelicula(idPelicula)
    {
        window.location = urlContent + "Pelicula/Editar?idPelicula=" + idPelicula;
    }

    function verPelicula(idPelicula)
    {
        window.location = urlContent + "Pelicula/Ver?idPelicula=" + idPelicula;
    }

    function eliminarPelicula(idPelicula, titulo)
    {
        msjPregunta("Pregunta", "¿Está seguro que desea la película " + titulo + "?", function()
        {
            let data = {
                id: idPelicula
            };

            ajax(
                "post", 
                "Pelicula/Eliminar", 
                data, 
                "Eliminando...", 
                "Espere por favor...", 
                function(response){
                    msjSuccess("Éxito", "La película se eliminó correctamente", function(){
                        reloadGrid("grid_peliculas", true);
                    });
                }, null);

        }, function() {
            
        });
    }
</script>